In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import Carlos as cs

In [2]:
df=cs.cargar_dataset('Mexico.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26281 entries, 0 to 26280
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              26281 non-null  int64
 1   name                            26281 non-null  object
 2   host_id                         26281 non-null  int64
 3   host_name                       26278 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   26281 non-null  object
 6   latitude                        26281 non-null  float64
 7   longitude                       26281 non-null  float64
 8   room_type                       26281 non-null  object
 9   price                           22466 non-null  float64
 10  minimum_nights                  26281 non-null  int64
 11  number_of_reviews               26281 non-null  int64
 12  last_review                     22985 non-null  object
 13  reviews_per_month               22985 non-null  float64
 14  calculated_host_listings_count  26281 non-null  int64
 15  availability_365                26281 non-null  int64
 16  number_of_reviews_ltm           26281 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(6), int64(7), object(5)
memory usage: 3.6+ MB

In [4]:
cs.cuenta_valores_nulos(df)

('Valores nulos por columna',
 id                                    0
 name                                  0
 host_id                               0
 host_name                             3
 neighbourhood_group               26281
 neighbourhood                         0
 latitude                              0
 longitude                             0
 room_type                             0
 price                              3815
 minimum_nights                        0
 number_of_reviews                     0
 last_review                        3296
 reviews_per_month                  3296
 calculated_host_listings_count        0
 availability_365                      0
 number_of_reviews_ltm                 0
 license                           26281
 dtype: int64,
 'Valores nulos por dataframe',
 np.int64(62972))

In [5]:
df = cs.sustitucion_bfill(df, ["reviews_per_month"])

/Users/carlosfonseca/Desktop/TEC UNI 6 SEMESTRE/Analisis de datos 1/UF1. Mtro Alfredo/Archivos de apoyo/Ejercicios/4_funciones/Tarea_4/Carlos.py:45: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dataframe[col] = dataframe[col].fillna(method="bfill")

In [6]:
cs.cuenta_valores_nulos(df)

('Valores nulos por columna',
 id                                    0
 name                                  0
 host_id                               0
 host_name                             3
 neighbourhood_group               26281
 neighbourhood                         0
 latitude                              0
 longitude                             0
 room_type                             0
 price                              3815
 minimum_nights                        0
 number_of_reviews                     0
 last_review                        3296
 reviews_per_month                    66
 calculated_host_listings_count        0
 availability_365                      0
 number_of_reviews_ltm                 0
 license                           26281
 dtype: int64,
 'Valores nulos por dataframe',
 np.int64(59742))

In [7]:
df = cs.sustitucion_ffill(df, ["reviews_per_month"])

/Users/carlosfonseca/Desktop/TEC UNI 6 SEMESTRE/Analisis de datos 1/UF1. Mtro Alfredo/Archivos de apoyo/Ejercicios/4_funciones/Tarea_4/Carlos.py:37: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dataframe[col] = dataframe[col].fillna(method="ffill")

In [8]:
cs.cuenta_valores_nulos(df)

('Valores nulos por columna',
 id                                    0
 name                                  0
 host_id                               0
 host_name                             3
 neighbourhood_group               26281
 neighbourhood                         0
 latitude                              0
 longitude                             0
 room_type                             0
 price                              3815
 minimum_nights                        0
 number_of_reviews                     0
 last_review                        3296
 reviews_per_month                     0
 calculated_host_listings_count        0
 availability_365                      0
 number_of_reviews_ltm                 0
 license                           26281
 dtype: int64,
 'Valores nulos por dataframe',
 np.int64(59676))

In [13]:
df = cs.sustitucion_constante(df, ["neighbourhood_group"])

In [14]:
cs.cuenta_valores_nulos(df)

('Valores nulos por columna',
 id                                    0
 name                                  0
 host_id                               0
 host_name                             3
 neighbourhood_group                   0
 neighbourhood                         0
 latitude                              0
 longitude                             0
 room_type                             0
 price                              3815
 minimum_nights                        0
 number_of_reviews                     0
 last_review                        3296
 reviews_per_month                     0
 calculated_host_listings_count        0
 availability_365                      0
 number_of_reviews_ltm                 0
 license                           26281
 dtype: int64,
 'Valores nulos por dataframe',
 np.int64(33395))

In [19]:
df = cs.sustitucion_mediana(df, ["price"])

In [20]:
cs.cuenta_valores_nulos(df)

('Valores nulos por columna',
 id                                    0
 name                                  0
 host_id                               0
 host_name                             3
 neighbourhood_group                   0
 neighbourhood                         0
 latitude                              0
 longitude                             0
 room_type                             0
 price                                 0
 minimum_nights                        0
 number_of_reviews                     0
 last_review                        3296
 reviews_per_month                     0
 calculated_host_listings_count        0
 availability_365                      0
 number_of_reviews_ltm                 0
 license                           26281
 dtype: int64,
 'Valores nulos por dataframe',
 np.int64(29580))

In [27]:
df = cs.sustitucion_string_concreto(df, ["last_review"])

In [28]:
cs.cuenta_valores_nulos(df)

('Valores nulos por columna',
 id                                    0
 name                                  0
 host_id                               0
 host_name                             3
 neighbourhood_group                   0
 neighbourhood                         0
 latitude                              0
 longitude                             0
 room_type                             0
 price                                 0
 minimum_nights                        0
 number_of_reviews                     0
 last_review                           0
 reviews_per_month                     0
 calculated_host_listings_count        0
 availability_365                      0
 number_of_reviews_ltm                 0
 license                           26281
 dtype: int64,
 'Valores nulos por dataframe',
 np.int64(26284))

In [29]:
df = cs.sustitucion_string_concreto(df, ["host_name"])

In [30]:
cs.cuenta_valores_nulos(df)

('Valores nulos por columna',
 id                                    0
 name                                  0
 host_id                               0
 host_name                             0
 neighbourhood_group                   0
 neighbourhood                         0
 latitude                              0
 longitude                             0
 room_type                             0
 price                                 0
 minimum_nights                        0
 number_of_reviews                     0
 last_review                           0
 reviews_per_month                     0
 calculated_host_listings_count        0
 availability_365                      0
 number_of_reviews_ltm                 0
 license                           26281
 dtype: int64,
 'Valores nulos por dataframe',
 np.int64(26281))

In [31]:
df = cs.sustitucion_constante(df, ["license"])

In [32]:
cs.cuenta_valores_nulos(df)

('Valores nulos por columna',
 id                                0
 name                              0
 host_id                           0
 host_name                         0
 neighbourhood_group               0
 neighbourhood                     0
 latitude                          0
 longitude                         0
 room_type                         0
 price                             0
 minimum_nights                    0
 number_of_reviews                 0
 last_review                       0
 reviews_per_month                 0
 calculated_host_listings_count    0
 availability_365                  0
 number_of_reviews_ltm             0
 license                           0
 dtype: int64,
 'Valores nulos por dataframe',
 np.int64(0))